

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="styles/styles.css"> 
    <script src="https://www.youtube.com/iframe_api?api_key=<%- apiKey %>"></script>
</head>
<body>
    <input type="text" name="url">
    <input type="button" value="search" name="search" id="searchButton">
    <div id="player">
   
    </div>
    
    <script src="gettingYoutube.js"></script>
</body>
</html>




