<!DOCTYPE html>
<html>
<head>
    <title>Welcome to ByteLearner</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <h1>Welcome to ByteLearner</h1>
    <div>
        <a href="/study-sets"><button>View Study Sets</button></a>
        <a href="/add-study-set"><button>Add Study Set</button></a>
        <a href="/view-set"><button>flash card interface</button></a>
        <a href="/cats"><button>Take a break and look at some cats</button></a>
    </div>
</body>
</html>
