<!DOCTYPE html>
<html>
<head>
    <title>Study Sets</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
    
    <h1>Study Sets</h1>
    <div class = center>
        <%- studySets %>
    </div>
</body>
</html>
