<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Viewer</title>
</head>
<style>
    .c1 {
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #prev-button, #next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      outline: none;
      margin-left: 200px;
      margin-right: 200px;
    }

    #prev-button {
      left: 0;
    }

    #next-button {
      right: 0;
    }
</style>

<body>
    <button onclick="window.location.href='/';">
        HOME
    </button>


    <div class="c1">
        <% if (error) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <iframe class="video-frame" width="420" height="345" src="<%= link %>">
        </iframe>
        <br>
        <iframe class="video-frame" width="420" height="345" src="https://www.youtube.com/embed/042QcCeu2a8">
        </iframe>
        <button id="prev-button" onclick="window.location.href='/PREV';">
            PREVIOUS
        </button>
        <button id="next-button" onclick="window.location.href='/NEXT';">
            NEXT
        </button>
    </div>
</body>

</html>