<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="collectionName "> <%- collectionName %></title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
  <a href="/">Home</a>
  <a href="/study-sets">Back to sets </a>
    <h1> Contents for this set</h1>
    <%- contents %>
</body>
</html>
