<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title id="collectionName "> <%- collectionName %></title>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
  <a href="/">Home</a>
  <a href="/study-sets">Back to sets </a>
    <h1> Contents for this set</h1>
    <%- contents %>

  <div class="sameLine">

    <form method="post" action="/deleteDefinition">
      <input type="hidden" name="collectionName" value="<%- collectionName %>">
      <label for="definition">add to exisiting set</label>
      <input id="definition"name ="definition"  type="text" placeholder="Enter Definition">
      <input type="submit"></input>
    </form>

  </div>
</body>
</html>
